<% include ../partials/header %>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 text-center jumbotron">
      <table>
       <tr>
         <th>Name: </th>
         <td><%=zoo.name%></td>
       </tr>
       <tr>
         <th>Location: </th>
         <td><%=zoo.location%></td>
       </tr>
       <tr>
         <th>Animals:</th>
        <% zoo.animals.forEach(function(animal){ %>
         <td><%=animal.name%></td>
         <%})%>
       </tr>
      </table>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-4 text-center">
        <a href="/zoos/<%=zoo.id%>/edit"><button class="btm-sm btn-primary">Update</button></a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="/zoos"><button class="btm-sm btn-info">Home</button></a>
      </div>
      <div class="col-xs-4 text-center">
      <form action="/zoos/<%= zoo.id%>?_method=delete" method="POST"><button class="btn-sm btn-danger">Delete</button></form> 
      </div>
    </div>
    <br>
    <div class="row">
    <div class="col-xs-6">
        <a href="/zoos/<%=zoo.id%>/animals/new"><button class="btm-sm btn-success">Add Animal</button></a>
    </div>
     <div class="col-xs-6">
        <a href="/zoos/<%=zoo.id%>/animals"><button class="btm-sm btn-success">See Animals</button></a>
     </div>
    </div>
  </div>  
  <div class="col-xs-3"></div>
<% include ../partials/footer %>