<% include ../partials/header %>
 <div class="col-xs-3 text-center"></div>
  <div class="col-xs-6 col-xs text-center">
    <table class="table table-condensed table-hover text-center" >
    <h1>ANIMALS AT <%=zoo.name%></h1>  
      <thead>
        <th class="text-center">Name</th>
        <th class="text-center">Location</th>
        <th class="text-center">Species</th>
        <th class="text-center">Photo</th>
      </thead>
      <tbody>
      <% zoo.animals.forEach(function(el){ %> 
          <tr>
            <td><a href="/animals/<%= el._id %>"><strong><%= el.name %></a></strong></td>   
            <td><%= el.species %></td>
            <td><%= el.age %></td>
            <td><img src="<%= el.photo %>" alt=""> </td>
            <td><form action="/zoos/<%= zoo.id%>/animals/<%=el.id%>?_method=delete" method="POST"><button class="btn-sm btn-danger">Delete</button></form> </td>
          </tr>
       <% }) %>
      </tbody>
    </table>  
     <a href="/zoos" class="btn-lg btn-info text-center">ZOO LIST</a>
  </div>
  <div class="col-xs-3"></div>
<% include ../partials/footer %>

<!-- /zoos/:zoo_id/animals/:id -->